{% extends 'layouts/base.html.twig' %}
{% block body %}

    {{ include('clients/form.html.twig') }}

    <div class="separationContenu"></div>

    <div class="tableClient">
        {{ include('clients/table.html.twig') }}
    </div>

{% endblock %}