{% extends 'layouts/base.html.twig' %}

{% block title 'Optical Center | Client Audio | Potentiel' %}

{% block body %}

{{ include('clients/form.html.twig') }}

<div class="separationContenu"></div>

{{ include('clients/table.html.twig') }}

{% endblock %}