<footer class="container-footer">
    <p class="container-footer-text">
        <small>
            &copy; {{ 'now'|date('Y') }} &middot;
            Built with <span class="color-symbol">&hearts;</span> by Thibault.
        </small>
    </p>
</footer>