<div class="container-nav">
    <div class="burger-menu"><img src="/images/icons8-menu-2-100.png" class="btn-menu"></div>
    <a href="{{ path('app_logout') }}"><img src="/images/icons8-déconnexion-arrondi-100.png" alt="Déconnexion"></a>
    <ul class="container-nav-list">
        <li class="nav-item">
            <a href="{{ path('app_home') }}" class="nav-list fill">Ajout client</a>
        </li>
        <li class="nav-item">
            <a href="/#tableClient" class="nav-list fill">Consulter tableau client</a>
        </li>
        <li class="nav-item">
            <a href="{{ path('app_register_opticien') }}" class="nav-list fill">Ajout collaborateur</a>
        </li>
    </ul>
</div>

<div class="home">
    <div class="banner-container">
        <div class="left-img">
            <img src="/images/Nouveau_Logo_OC_modif.png" alt="Logo Optical-Center">
        </div>
        <div class="home-message">
            <h1>GESTION DES CLIENTS POTENTIELS</br>OPTICAL-CENTER | MAGASIN | GRAND MAINE</h1>
        </div>
        <div class="right-img">
            <img src="/images/choisir-son-appareil-auditif.jpeg"  alt="Bannière audio">
        </div>
    </div>
</div>