@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import 'shared/variables.scss';

/*==============================*/
//     CSS | Base parameters    //
/*==============================*/
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    box-sizing: border-box;
    background-color: #fafafa;   
    background-image: url(/public/images/white-paper-texture.jpg);
}
.alert{
    font-family: $second-font;
    width: 100%;
    margin: 0;
    padding: 10px;
    color: #fff;
    text-align: center;

    &.alert-success{
    background-color: #379c4d;
    }
    &.alert-error{
    background-color: #da1d21;
    }
    &.alert-info{
    background-color: #557ad1;
    }
}

/*==========================*/
// Styles Navigation | En-tête
/*==========================*/

//Log-out//
.container-nav{
    a img{
        position: absolute;
        right: 0;
        width: 80px; 
        height: auto;
        margin-top: 20px;
        margin-right: 20px;
    }
    a img:hover{
        transform: scale(1.1);
        transition: all .5s ease-in-out;
    }
}
//Retour Home//
.btn_home{
    a img:hover{
        transform: scale(1.1);
        transition: all .5s ease-in-out;
    }
}
//Nav//
.burger-menu{
    display: none;
}
.container-nav-list{
    width: 50%;
    height: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: center;

    .nav-item{
        list-style: none;   
        font-family: $primary-font;
    }

    a:hover{
        color: #fafafa;
        transform: 1.5s, ease-in-out;
        font-weight: bold;
    }

    .nav-list, .fill {
        text-decoration: none;
        color: #000;
        font-size: 16px;
        font-weight: 300;
        padding: 13px 50px 13px;
        outline: 0;
        border: 1px solid black;
        box-shadow: 13px 16px 28px 7px rgba(0,0,0,0.1);
        cursor: pointer;
        position: relative;
        background-color: rgba(0, 0, 0, 0);
    }

    .fill::after {
    content: "";
        background-color: #da1d21;
        box-shadow: 13px 16px 28px 7px rgba(0,0,0,0.1);
        width: 100%;
        z-index: -1;
        position: absolute;
        height: 100%;
        top: 7px;
        left: 7px;
        transition: 0.2s;
    }
    
    .fill:hover::after {
        top: 0px;
        left: 0px;
    }
}
//En-tête//
.home{
    margin-top: 35px;
    margin-bottom: 100px;
    width: 100%;
    .banner-container{
        box-sizing: border-box;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        width: 100%;
        height: 220px;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;

        .home-message{
            margin-left: 10.3%;
            text-align: center;
            font-family: $second-font;
            font-size: 16px;
        }

        .left-img{   
            text-align: left;
            img{   
                margin-left: 33%;
                width: auto;
                height: 200px;
            }
        }

        .right-img{   

            text-align: right;
            img{   
                opacity: .75;
                position:relative;
                height: 215px;
            }
        }
    }
}
  
/*===============================*/
//   Styles Formulaire d'ajout   //
/*===============================*/

//Titre | Block | Form//

.firstPart, .thirdPart{
    background-color: #fafafa;
    opacity: .99;
    box-shadow: 13px 16px 28px 7px rgba(0,0,0,0.1);
    padding: 50px;
    margin: 0 auto;
    width: 33%;
    font-family: $primary-font;
    h2{
        text-align: center;
        margin-bottom: 50px;
    }
    form{
        z-index: 1;
    }
    .form-position{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        height: 220px;
    }
    .form-position-opt{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .col-form-left{
        margin-top: 3px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .col-form-right{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .autreForm{
        margin: 15px;
    }
    
    .btn_s{
        margin: 80px auto 20px;
        text-align: center;
        width: 250px;
    }

    .btn{
        border: none;
        width: 250px;
        background-color: transparent;
        text-align: center;
        cursor: pointer;
        height: 30px;
    }

    .btn:hover{
        color: #fafafa;
        transform: 1.5s, ease-in-out;
        font-weight: bold;
    }

    .btn_s, .fill {
        text-decoration: none;
        color: #000;
        font-size: 16px;
        font-weight: 300;
        padding: 13px 50px 13px;
        outline: 0;
        border: 1px solid black;
        cursor: pointer;
        position: relative;
        background-color: rgba(0, 0, 0, 0);
        box-shadow: 13px 16px 28px 7px rgba(0,0,0,0.1);
    }

    .fill::after {
    content: "";
        background-color: #da1d21;
        box-shadow: 13px 16px 28px 7px rgba(0,0,0,0.1);
        width: 100%;
        z-index: -1;
        position: absolute;
        height: 100%;
        top: 7px;
        left: 7px;
        transition: 0.2s;
    }
    
    .fill:hover::after {
        top: 0px;
        left: 0px;
    }
}

//Séparation

.separationContenu{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    height: 80px;
    background: linear-gradient(-90deg, rgb(82, 79, 79) 0%, rgb(163, 160, 160) 52%, rgba(250,250,250,1) 100%);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
/*===============================*/
// Styles tableau potentiel client
/*===============================*/

.secondPart{
    margin: 0 auto;
    width: 75%;
    font-family: $primary-font;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #motCle{
        border: none;
        border-radius: 5px;
        margin-bottom: 20px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        height: 40px;
        width: 250px;
    }
    h2{
        text-align: center;
        margin-bottom: 80px;
    }
    .container-table {
        text-align: center;
        background-color: #fafafa;
        opacity: .99;
        box-shadow: 13px 16px 28px 7px rgba(0,0,0,0.1);
    }
    #tableClient{
        border-collapse: collapse;
    }
    .filtreImg{
        margin-left: 10px;
        margin-bottom: -6px;
        margin-right: 2px;
        height: 25px;
        width: auto;
        cursor: pointer;
    }
    #tableClient td, #tableClient th{
        border: 1px solid #ddd;
        padding: 8px;
    }
    #tableClient tr:hover {
        background-color: #ddd;
    }
    #tableClient th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #a09f9f;
        color: white;
    }
}
.haut-de-page{
    a img{
        position: absolute;
        right: 0;
        width: 80px; 
        height: auto;
        margin-bottom: 80px;
        margin-right: 20px;
        rotate: 90deg;
    }
    a img:hover{
        transform:translateX(-15px);
        transition: all .5s ease-in-out;
    }
}
.noTable{
    margin: 100px;
    font-family: $primary-font;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #da1d21;
}

/*===============================*/
// Styles tableau collaborateur
/*===============================*/
.titreTable{
    font-family: $primary-font;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}
#opticien-table{
    margin: 0 auto;
    width: 75%;
    font-family: $primary-font;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #tableOpticien{
        border-collapse: collapse;
    }
    #tableOpticien td, #tableOpticien th{
        border: 1px solid #ddd;
        padding: 8px;
    }
    #tableOpticien tr:hover {
        background-color: #ddd;
    }
    #tableOpticien th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #a09f9f;
        color: white;
    }
}

/*===============================*/
// Edit potentiel client
/*===============================*/

.container-form{
    background-color: #fafafa;
    opacity: .99;
    box-shadow: 13px 16px 28px 7px rgba(0,0,0,0.1);
    padding: 50px;
    margin: 0 auto;
    width: 33%;
    font-family: $primary-font;
    h2{
        text-align: center;
        margin-bottom: 50px;
    }
    form{
        z-index: 1;
    }
    .form-position{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        height: 220px;
    }
    .col-form-left{
        margin-top: 3px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .col-form-right{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .autreForm{
        margin: 15px;
    }
    .btn_group{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .btn_s{
        margin: 80px auto 20px;
        text-align: center;
        width: 150px;
    }

    .btn, a{
        text-decoration: none;
        color: #000;
        border: none;
        width: 150px;
        background-color: transparent;
        text-align: center;
        cursor: pointer;
        height: 30px;
    }

    .btn:hover{
        color: #fafafa;
        transform: 1.5s, ease-in-out;
        font-weight: bold;
    }

    .btn_s, .fill {
        text-decoration: none;
        color: #000;
        font-size: 16px;
        font-weight: 300;
        padding: 13px 50px 13px;
        outline: 0;
        border: 1px solid black;
        cursor: pointer;
        position: relative;
        background-color: rgba(0, 0, 0, 0);
        box-shadow: 13px 16px 28px 7px rgba(0,0,0,0.1);
    }

    .fill::after {
    content: "";
        background-color: #da1d21;
        box-shadow: 13px 16px 28px 7px rgba(0,0,0,0.1);
        width: 100%;
        z-index: -1;
        position: absolute;
        height: 100%;
        top: 7px;
        left: 7px;
        transition: 0.2s;
    }
    
    .fill:hover::after {
        top: 0px;
        left: 0px;
    }
}
.btn_home{
    text-align: center;
    margin: 80px;
}

/*==========================*/
//  Authentification Admin  //
/*==========================*/
.container-form-auth{
    width: 100%;
    text-align: center;
    font-family: $primary-font;
    font-size: 16px;
    h1{
        margin: 80px;
        font-size: 28px;
    }
    img{
        margin-bottom: 50px;
    }
    h3{
        margin-bottom: 50px;
    }
    .inputForm{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .grp-1, .grp-2{
        padding: 15px;
    }
    .btn_s{
        margin: 40px auto 20px;
        text-align: center;
        width: 80px;
    }

    .btn{
        text-decoration: none;
        color: #000;
        border: none;
        width: 80px;
        background-color: transparent;
        text-align: center;
        cursor: pointer;
        height: 30px;
    }

    .btn:hover{
        font-size: 16px;
        color: #fafafa;
        transform: 1.5s, ease-in-out;
        font-weight: bold;
    }

    .btn_s, .fill {
        text-decoration: none;
        color: #000;
        font-size: 16px;
        font-weight: 300;
        padding: 13px 50px 13px;
        outline: 0;
        border: 1px solid black;
        cursor: pointer;
        position: relative;
        background-color: rgba(0, 0, 0, 0);
        box-shadow: 13px 16px 28px 7px rgba(0,0,0,0.1);
    }

    .fill::after {
    content: "";
        background-color: #da1d21;
        box-shadow: 13px 16px 28px 7px rgba(0,0,0,0.1);
        width: 100%;
        z-index: -1;
        position: absolute;
        height: 100%;
        top: 7px;
        left: 7px;
        transition: 0.2s;
    }
    
    .fill:hover::after {
        top: 0px;
        left: 0px;
    }
}
    

/*==========================*/
// Styles Footer 
/*==========================*/
.container-footer{
    margin-top: 100px;
    margin-bottom: 30px;
    .container-footer-text{
        text-align: center;
        font-family: $primary-font;    
    }
    .color-symbol{
        color: #e71e10;
    }
}

/*==========================*/
// Responsive
/*==========================*/
@media (min-width: 1350px) and (max-width: 1650px) {
     //Nav//
    .container-nav-list{
        width: 60%;
    }
    .firstPart{
        width: 40%;
    }
}

@media (min-width: 1250px) and (max-width: 1350px) {
    //Nav//
   .container-nav-list{
       width: 70%;
   }
    .home{
        .banner-container{
            .home-message{
            font-size: 14px;
            }
        }
    }
    .firstPart{
        width: 50%;
    }

}

@media (max-width: 1250px) {
    //Nav//
    .container-nav{
        height: 100px;
        a img{
            top: 0;
        }
        .burger-menu{
            display:block;
            width: 150px;
        }
        .btn-menu{
            margin-top: 10px;
            margin-left: 40px;
            cursor: pointer;
        }
        .btn-menu:hover{
            transform: scale(1.1);
            transition: all .5s ease-in-out;
        }
        .container-nav-list{
                display: none;
        }
        .container-nav-list.active{
            display: flex;
            flex-direction: column;
            justify-content: left;
            position: absolute;
            height: 50px;
            width: 250px;
            border-right: 1px solid #000;
            top: 0;
            margin: 28px 100px;
            a:hover{
                color:#da1d21;
                transform: 1.5s, ease-in-out;
                font-weight: bold;
            }
            ul a .fill{
                background-color: transparent;
                border-bottom: none;
              }
            ul li.active ul .fill{
                position: relative;
                background: #eee;
                width: 100%;
                margin: 0 auto;
            }
            .nav-list, .fill {
                text-decoration: none;
                color: #000;
                font-size: 15px;
                font-weight: 300;
                padding: 13px 50px 13px;
                outline: 0;
                border: none;
                box-shadow: none;
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0);
            }
        
            .fill::after {
            content: "";
                background-color: transparent;
                box-shadow: none;
            }
            
        }
    }
    .home{
        .banner-container{
            .home-message{
            font-size: 12px;
            }
        }
    }
    .firstPart{
        width: 60%;
    }
}
@media (max-width: 1055px) {
    .home{
        .banner-container{
            display: block;
            height: 150px;
            .home-message{
            display: none;
            }
            .left-img{   
                text-align: center;
                img{   
                    width: auto;
                    height: 140px;
                    margin-left: 0%;
                }
            }
    
            .right-img{   
                display: none;
            }
        }
    }
    .firstPart{
        width: 70%;
    }
}
