<div class="secondPart">
    {% if clients != null %}
    <h2>Tableau récapitulatif</h2>
    <div id="path" data-path="{{ path('app_home_filter') }}"></div>
    <input type="text" id="motCle" placeholder="Rechercher...">
    <div class="container-table">

        {{ include('clients/table/table.html.twig') }}

        <div class="haut-de-page">
            <a href="{{ path('app_home') }}"><img src="/images/icons8-flèche-pointant-vers-la-gauche-100.png"></a>
        </div>    
    </div>
        {% else %}

        <h3 class="noTable" id="tableClient">Il n'y a pas encore de client potentiel</h3>

    {% endif %}
</div>